/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.idea/
bower_components/
public/js/
public/fonts/
public/css/
storage/*.log
design/
*.log
report/
storage/credentials-calendar.json
storage/chats/c*
config/ide-helper.php
coverage/
_ide_helper.php
packages/
storage/client_secret.json
