<div class="form-group">
	<div class="col-md-2">
		<label for="domain">
			Домен
		</label>
	</div>
	<div class="col-md-10">
		<input type="text" id="domain" class="form-control" placeholder="demo" ng-model="domain">
	</div>
</div>

<div class="form-group">
	<div class="col-md-2">
		<label for="teamLogin">
			Логин команды
		</label>
	</div>
	<div class="col-md-10">
		<input type="text" id="teamLogin" class="form-control" placeholder="Логин команды" ng-model="login">
	</div>
</div>

<div class="form-group">
	<div class="col-md-2">
		<label for="teamPassword">
			Пароль команды
		</label>
	</div>
	<div class="col-md-10">
		<input type="text" id="teamPassword" class="form-control" ng-model="pass">
	</div>
</div>

<!--team-id-->
