<div class="form-group">
	<div class="col-md-2">
		<label for="domain">
			Домен
		</label>
	</div>
	<div class="col-md-10">
		<input type="text" id="domain" class="form-control" placeholder="demo" ng-model="domain"
			   ng-model-options="{ debounce: 1000 }">
	</div>
</div>

<div class="form-group">
	<div class="col-md-2">
		<label for="gameId">
			Игра
		</label>
	</div>
	<div class="col-md-10">
		<div id="loading-bar-container"></div>
		<select ng-model="id"
				ng-options="game.id as game.title for game in games"
				class="form-control"
				id="gameId">
			<option value="" disabled>-- Выберите Игру --</option>
		</select>
	</div>
</div>

<div class="form-group">
	<div class="col-md-2">
		<label for="teamId">
			Команда
		</label>
	</div>
	<div class="col-md-10">
		<select ng-model="teamid"
				ng-options="team.id as team.name for team in teams"
				class="form-control"
				id="teamId">
			<option value="" disabled>-- Выберите Команду --</option>
		</select>
	</div>
</div>

<div class="form-group">
	<div class="col-md-2">
		<label for="team-pass">
			Пароль команды
		</label>
	</div>
	<div class="col-md-10">
		<input type="text" id="team-pass" class="form-control"  ng-model="teampass">
	</div>
</div>

<!--team-id-->
