<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>6S: Автоквестом по галактике - Игровой кабинет - RedFox Quest Томск</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/static/css/style_lite.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/js/cash.min.js"></script>

    
</head>

<body>

    <p class="team_name">3G</p>
    
    <h1>6S: Автоквестом по галактике</h1>
    <p style="margin-top:-20px;"><a href="/play/safari/">« К списку локаций</a></p>
    
    <p class="timer"><span id="timer"></span></p>
    
    <h2>1. Круплакатоид.</h2>
        
    <!-- insert here -->
        
        <form class="enter" action="/play/submit/" method="post">
        <p>
            <strong>Ввести код</strong>
            <input type="text" class="input" name="code" value="" autocomplete="off">
            <input type="submit" value="Отправить" class="btn_submit">
            <input type="hidden" name="task_id" value="2053">
        </p>
    </form>
        
        <ul class="found_codes">
                <li>
            <span class="class"></span> 
            <span class="code">Круплакатоид </span>
            <!-- <span class="entered"></span> -->
        </li>
            </ul>
        
        
    <p class="task_text">
        <p>Жители планеты&nbsp;Круплакатоид-1109&nbsp;готовы принять нас к себе в гости. Они отправили письмо длинным путём, даже через Повелителя Времени. Но вот письмо наконец-то дошло, в нём составлен вопрос:</p><br />
<p><img src="/static/up/images/game/7-Sezon/6SAFARI/6E1KYiz4dEg.jpg" alt="" width="500" height="245" /></p><br />
<p>Ф.О.: СЛОВО.</p>    </p>
	
	    <div class="spoiler">
    
                    <form method="post" action="/play/submitspoiler/">
            <p>
                Спойлер: 
                <input type="hidden" name="return_url" value="%2Fplay%2Fsafari%2F2053"> 
                <input type="hidden" name="task_id" value="2053"> 
                <input type="text" name="spoiler_code" value=""> 
                <input type="submit" value="проверить">
            </p>
            </form>
            
                
    </div>
    <div class="clear"></div>
    	
    
    <ul class="hints">
        <li>
                    <p><strong>Подсказка 1</strong></p>
                    <p></p>
                </li><li>
                    <p><strong>Подсказка 2</strong></p>
                    <p></p>
                </li>    </ul>    
        
        <p class="codes_class"><strong>Коды на локации:</strong> 
        <p><strong>Основные коды</strong>:15О, 14О, 13О, 12О, 11О, 10О, 9О, 8О, 7О, 6О, 5О, 4О, 3О, 2О, 1О, В+, В+, В+, В+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, Г+, А+, А+, А+, А+, Г+, Г+, В+, В+, А+, А+, А+, А+, А+, А+, Г+, Г+, А+, А+, В+, Г+, А+, А+, А+, А+, А+, Г+, В+, А+, А+, В+, А+, В+, В+, В+, В+, В+, В+, А+, А+, А+, А+, А+, А+, А+, А+, А+, Г+, А+, Г+, А+, А+, А+, А+, Г+, Г+, Г+, А+, Г+, А+, В+, <span class='found'></span></p>    </p>
        

</body>
</html>
